// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@import 'https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap';

$primary: #2C313A;
$secondary: #363C47;
$success: #A5CCD1;
$warning: #FECDAA;
$info: #A3D5FF;
$error: #EC465A;
$text: #E4E0E7;
$background: #2C313A;

.theme--dark.v-application {
  background: $primary !important;
  color: $text !important;
  font-family: 'Cairo', sans-serif;
}

.theme--dark.v-picker__body {
  background: $primary !important;
  color: $text !important;
}

.theme--dark.v-list {
  background: $primary;
}

.theme--light.v-application {
  background: #C9CCD5;
  color: #2C313A;
  font-family: 'Cairo', sans-serif;
}

.shadow-1 {
  box-shadow: 0 10px 10px 0 rgba(black, 0.1) !important;
}

.radius-1 {
  border-radius: 1em !important;
}

.theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background-color: #2c313a !important;
  color: white;
}
